[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Joseph Kerkhof
	email = joseph@kerkhof.dev
	signingkey = 71A696CAC91CEA76
[core]
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[push]
	autoSetupRemote = true
[includeIf "gitdir:~/code/ae/"]
	path = ~/.gitconfig-ae
